@charset "UTF-8";


@media screen and (max-width:1200px){
    
    header a{
        margin: 0px 15px;
    }

    #imgprincipal{
        width: 800px;
        justify-content: space-evenly;
        
    }

    #contato {
        top: 1050px;
    }

    

}



@media screen and (max-width:880px){

    header > nav > a{
        display: none;
        
    }

    header h1 {
        display: none;
    }

    header > #menor{
        display: block;
    }

    nav > span{
        display: block;
        color: white;
        font-weight: bolder;
    }

    #inicio{
        position: relative;
        top: 250px;
        
    }

    #inicio > p{
        font-size: 1.2em;
        width: 360px;
    }
    #sobre > p{
        font-size: 1.2em;
        width: 360px;
    }

    #imgprincipal{
        width: 597px;
        justify-content: space-between;
        width: 70vw;
    }

    #imgprincipal > div{
        margin: auto;
        margin-bottom: 50px;
        width: 800px;
        height: 8%;
    }

    #imgprincipal img{
        width: 60vw;
        
    }
    #contato{
        top: 980px;
    }

    

}