@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --font1: 'Mooli', sans-serif;
    --font2: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font2);
}

/* -------------HEADER-------------- */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    background-color: black;
    color: white;
}

header > h1{
    font-family: var(--font1);
    padding: 40px 0px 0px 80px;
    font-size: 3em;
}

header > nav{
    padding: 60px 80px 0px 0px;
}

header > nav > a{
    color: white;
    text-decoration: none;
    margin-left: 80px;
}

header > nav > a:hover{
    text-decoration: underline;
    color: rgb(69, 69, 69);
}

/* -------------HEADER-------------- */



/* --------------MAIN--------------- */

main #container{
    background-color: gray;
    background-image: url(../img/cafeteriabalcao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 600px;
}

#descricao-inicio{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -70%);

    background-color: rgba(0, 0, 0, 0.644);
    height: 250px;
    width: 450px;
    padding: 15px;
    color: white;
    border-radius: 20px;
}

#descricao-inicio > h2{
    margin-bottom: 10px;
    font-family: var(--font1);
}

#descricao-inicio > p{
    text-align: justify;
}
/* --------------------------------- */

main #sobre{
    width: 450px;
    margin: 200px auto 0px auto;
    padding: 20px;
    border-radius: 20px;
}

main #sobre h2{
    font-family: var(--font1);
    text-align: center;
    font-size: 2.5em;
}

main #sobre p{
    margin: 15px 0px 200px 0px;
    text-align: justify;
    font-weight: bolder;
}

/* ----------------------------------- */


main #fundo-tabela{
    display: block;
    background-image: url(../img/mesa-cafeteria.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

main #tabela{
    position: relative;
    top: 190px;
    background-color: rgba(255, 255, 255, 0.688);
    width: 300px;
    margin: auto;
    font-weight: bolder;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.695);
}

main #tabela caption{
    font-size: 2em;
    margin-bottom: 10px;
    font-family: var(--font1);
}

/* --------------MAIN--------------- */ 

/* --------------footer--------------- */

footer #contato{
    width: 320px;
    margin: 200px auto 0px auto;
    padding-bottom: 5px;
}

footer #contato h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: var(--font1);
}

footer #contato p{
    text-align: center;
}

footer #contato span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}





